:root {
  --c-primary: #4c2982;
  --c-secondary: #f9d170;
  --c-bg: #f9f7f3;
  --c-text: #252525;
  --c-light: #f3f3f3;
  --c-success: #067973;
  --c-success-bg: #f5fffe;
  --c-error: #b71540;
  --c-error-bg: #fdeff3;
  --c-shadow: rgba(23, 11, 41, 0.12);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

:focus {
  outline: 1px solid var(--c-primary);
}

.flow {
  --flow-space: 2rem;
}
.flow > * + * {
  margin-top: var(--flow-space);
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: var(--c-bg);
  color: var(--c-primary);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 22rem;
  padding: 0 16px;
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

form div {
  --flow-space: 8px;
  display: flex;
  box-shadow: 0 2px 10px var(--c-shadow);
}
form input[type],
form button {
  font-size: 16px;
  line-height: 1;
  border: none;
}
form input[type] {
  flex: 1;
  padding: 12px 8px;
}
form button {
  display: grid;
  place-items: center;
  width: 55px;
  height: 45px;
  background: var(--c-secondary);
}
form button:hover {
  filter: brightness(1.05);
}
form button svg {
  width: 24px;
  fill: currentColor;
}

.signup__alert {
  --flow-space: 1rem;
}

.alert {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  border: 1px solid;
  animation: slide-up 0.25s ease;
}
.alert[data-state=Success] {
  background: var(--c-success-bg);
  color: var(--c-success);
}
.alert[data-state=Error] {
  background: var(--c-error-bg);
  color: var(--c-error);
}
.alert__icon {
  flex-shrink: 0;
  margin-right: 12px;
  width: 24px;
}
.alert__content {
  margin: 0;
}
.alert__content strong {
  display: block;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
