@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {

}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: #f9fafb;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	margin: 0;
}
